* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  /*드래그 방지*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.container {
	display: grid;
  /* 전체적으로 갭 주고 싶다면 padding: 10px' */
  grid-template-columns: 20% 60% 20%; 
  grid-auto-rows: minmax(150px, auto);
  /*grid-column-gap: 10px; */
}

.middleBanner{ /* |1 / 2 / 3 / 4| */
  grid-column-start: 2;
  grid-column-end: 3;
  /* 축약 작성> grid-columm: 2/3 of 2/span2 */
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  text-align: center;
}

.rightCommentList{ /* |1 / 2 / 3 / 4| */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1 / -1; 
}

.rightCommentInput{ /* |1 / 2 / 3 / 4| */
  grid-column-start: 3;
  grid-column-end: 4;
}

.main_features {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative; 
  top: 10%;
}

.main_snd_container{
  height: 20vh;  
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly; 
  align-content: center;
  justify-content: space-between
}

.main_trd_container{  
  display: flex; 
  flex-direction: column;
  align-content: center;
}

.features {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
 /* width: 100%;
  height: 500px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden; */
}

.snd_container{
  height: 20vh;  
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly; 
  align-content: center;
}

.trd_container{  
  display: flex; 
  flex-direction: column;
}

.login_container{  
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.feature1 {
  width: 162px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.feature2 {
  width: 165px;
  color: rgba(0,0,0,1);;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  position: relative;
  bottom: -18%;
}

.feature3 {
  width: 177px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  position: relative;
  bottom: -5%; 
}

.title {
  width: 451px;
  color: rgba(0,0,0,1);
  position: relative; 
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  align-self: center;
  top: 50%;
}

.icon1 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: url("../images/v84_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%; 
}

.icon2 {
  cursor: pointer;
  width: 74px;
  height: 74px;
  background: url("../images/v84_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%;
  top: 5%;
}

.icon3 {
  cursor: pointer;
  width: 90px;
  height: 90px;
  background: url("../images/v84_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%;
}

.reportButton1 {
  border: 0.5;
  font-size: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 15px;
  padding: 5px; 
  width:150px; 
  height:50px;
  position: relative; 
  top: 50%;
  cursor: pointer;
}

.reportButton1:hover{
  background: black; 
  color: white;  
  padding: 5px; 
  width:150px; 
  height:50px;
}

.reportButton2 {
  border: 0.5;
  font-size: 1rem;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 15px;
  padding: 5px; 
  width:150px; 
  height:50px;
  position: relative; 
  top: 50%; 
  cursor: pointer;
}

.reportButton2:hover{
  background: black; 
  color: white;  
  padding: 5px;
  width:150px; 
  height:50px; 
}

.disabled {
  background: black; 
  color: white;  
  padding: 5px; 
  width:150px; 
  height:50px;
}

.audienceFeature {
  width: 162px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.audienceIcon {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: url("../images/v84_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%; 
}

.fourth_container{
  /*display: flex; 
  background: rgb(112, 202, 76); 
  flex-direction: column;
  align-content: center;*/
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-auto-rows: auto; 
  grid-column-gap: 20px; 
  padding-top: 3rem;
}

.row1{
  grid-column: 1/3; /*끝까지*/
  grid-row: 1/2;
  display: flex;
  justify-content: center;
}

.row1-1{
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.row1-2{
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.row2{
  grid-column: 1/3; /*끝까지*/
  grid-row: 2/3;
  justify-content: center;
}

.dayrow{
  grid-column: 1/2;
  text-align: right;
  margin: 1rem; 
}

.numrow{
  grid-column: 2/3;
  text-align: left;
  margin: 1rem;
}

.factor{
  grid-column: 1/2;
  text-align: right;
}

.commentOutputForm{
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex; 
  flex-direction: row;
  text-align: left;
  justify-content: center;
}

.commentOutputForm2{
  position: relative; 
  top: 30%;
}

.commentOutput{
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  background-color: black;
  width: auto; 
  padding: 1rem;
  margin-bottom: 2rem;
  display:inline-block;
}

.commentInputForm{
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex; 
  text-align: right;
  flex-direction: row;
}

.commentInputForm2{
  position: relative; 
  top: 30%;
}

.commentInput{
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  background-color: white;
  width: auto; 
  padding: 1rem;
  display:inline-block;
  height: auto; 
}

.input{
  color: black;
  border: none;
}

.commentButton {
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 70%; 
  cursor: pointer;
}

/*
.commentButton:hover{
  background: black; 
  color: white;  
} */

.userIcon{
  width: 70px;
  height: 70px;
  background: url("../images/user.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin-bottom: 1rem;
}

.login{
  font-size: 20px;
  margin-bottom: 1rem;
}

.userID{
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  background-color: white;
  width: 10rem; 
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.userPW{
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  background-color: white;
  width: 10rem; 
  padding: 1rem;
  margin-bottom: 1rem;
}

.loginButton {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
  color: white; 
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
}

/*
.selectBox{
    position: relative;
    width: 200px; 
    border: 1px solid #999; 
    z-index: 1; 
    display: flex; 
    flex-direction: row; 
    align-content: center;
}

.selectbox:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.selectbox label {
  position: absolute;
  top: 1px; 
  left: 5px; 
  padding: .8em .5em;  
  color: #999;
  z-index: -1; 
}

.selectbox select {
  width: 100%;
  height: auto; 
  line-height: normal; 
  font-family: inherit;  
  padding: .8em .5em;  
  border: 0;
  opacity: 0;  
  filter:alpha(opacity=0);  
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
} */


/**/

.selectBox{
  margin-top: 2rem;
  display: flex; 
  flex-direction: row; 
  align-content: center;
  justify-content: center;
}

.rangeSelect{
  border: 1px solid black;
  align-self: center;
  width: 200px; 
  height: 30px;
  margin-right: 2px;
}

.selectButton{
  height: 30px;
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  /*border-radius: 70%; */
  cursor: pointer;
}

.movieInfoBox{
  margin-top: 3rem;
  display: flex; 
  flex-direction: row; 
  align-content: center;
  justify-content: center;
}

.poster{
  border: 1px solid black;
  height: 200px;
  width: 150px; 
}

.info{
  border: 1px solid black;
  height: 200px;
  width: 150px; 
  font-size: 14px;
  font-weight: bold;
}

.boldTitle{
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.infoText{
  position: relative;
  left: 1rem;
}

.nationSelect{
  border: 1px solid black;
  align-self: center;
  width: 200px; 
  height: 30px;
  margin-right: 2px;
}

.genreSelect{
  border: 1px solid black;
  align-self: center;
  width: 200px; 
  height: 30px;
  margin-right: 2px;
}

.audienceIcon2 {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: url("../images/v84_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%; 
}

.audienceFeature {
  width: 162px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.audienceIcon {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: url("../images/v84_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%; 
}

.genreFeature {
  width: 162px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.genreIcon {
  cursor: pointer;
  width: 74px;
  height: 74px;
  background: url("../images/v84_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 19%;
  bottom: 10%;
}

.snackIcon {
  cursor: pointer;
  width: 90px;
  height: 90px;
  background: url("../images/v84_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  position:relative;
  left: 40%;
}

.snackFeature {
  width: 162px;
  color: rgba(0,0,0,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
  left: 40%;
}

.vote_result_container{
  grid-column-start: 2;
  grid-column-end: 3;
}

.voteResult {
  display: flex; 
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.voteButtonDiv {
  display: flex; 
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.voteButton {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
  color: white; 
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
  align-self: center;
}

.voteSubmitButton {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
  color: white; 
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.5rem;
  width: 5rem;
  margin-top: 1rem;
}

.vote_container{
  grid-column-start: 2;
  grid-column-end: 3;
}

.voteCheckBox {
  display: flex; 
  flex-direction: column;
  align-content: center;
  text-align: left;
  position: relative;
  left: 42%; 
}

.voteFeature {
  grid-column-start: 2;
  grid-column-end: 3;
 /* width: 100%;
  height: 500px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden; */
}

.vote_snd_container{ 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
